[build-system]
requires = ["maturin>=1,<2"]
build-backend = "maturin"

[tool.maturin]
python-source = "python"

[project]
name = "spl_transpiler"
requires-python = ">=3.7"
description = "Convert Splunk SPL queries into PySpark code"
readme = "README.md"
license = { file = "LICENSE" }
classifiers = [
    "Programming Language :: Rust",
    "Programming Language :: Python :: Implementation :: CPython",
    "Programming Language :: Python :: Implementation :: PyPy",
]
dependencies = [
    "black",
]

[project.optional-dependencies]
test = [
    "pytest"
]
cli = [
    "textual[syntax]"
]
