ASTTree {
    width: 50%;
    height: 100%;
}

SplCode {
    height: 40%;
}

PysparkCode {
    height: 60%;
}

.error {
    color: red 20%;
}

#body {
    height: 80%;
}

#log {
    height: 20%;
}

.container {
    height: auto;
    width: auto;
}

Switch {
    height: auto;
    width: auto;
}

.label {
    height: 3;
    content-align: center middle;
    width: auto;
}

RichLog {
    height: auto;
    width: auto;
}
